body {
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.87);
  background-color: #212121;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  filter: blur(60px);
  background-color:hsla(229,44%,15%,1);
  background-image:
  radial-gradient(at 40% 6%, hsla(296,30%,28%,1) 0px, transparent 50%),
  radial-gradient(at 6% 98%, hsla(124,12%,48%,1) 0px, transparent 50%),
  radial-gradient(at 80% 49%, hsla(229,44%,15%,1) 0px, transparent 50%),
  radial-gradient(at 87% 91%, hsla(242,100%,70%,1) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsla(229,44%,15%,1) 0px, transparent 50%);
}

.flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.final-container {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  inset: 0;
  justify-content: flex-start;
  margin-top: 10rem;
}

.final-container p {
  font-size: 1.4rem;
  margin: 1.2rem 24px;
  text-align: center;
  font-weight: bold;
}

.grow {
  flex-grow: 1;
  overflow-y: scroll;
}


.bg-img {
  position: fixed;
  filter: invert();
  opacity: 0.1;
}

.bg-img:nth-child(1) {
  top: -90px;
  left: -90px;
  height: 260px;
  animation: bg-img-1 70s linear infinite;
}

.bg-img:nth-child(2) {
  top: 80px;
  left: 60px;
  height: 90px;
  animation: bg-img-1 60s linear infinite;
}

.bg-img:nth-child(3) {
  top: 15px;
  left: 200px;
  height: 50px;
  animation: bg-img-2 40s linear infinite;
}

.bg-img:nth-child(4) {
  bottom: -300px;
  right: -150px;
  height: 500px;
  animation: bg-img-2 70s linear infinite;
}

@keyframes bg-img-1 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bg-img-2 {
  100% {
    transform: rotate(-360deg);
  }
}

.flex-c {
  display: flex;
  margin: 30px 20px;
  padding: 10px;
  background-color: #ffffff91;
  width: 100%;
  border-radius: 2.2rem;
  padding-left: 25px;
  backdrop-filter: blur(10px);
}

.input-container {
  --main: rgb(27, 27, 27);
  width: 100vw;
  color: var(--main);
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
}

input {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.flex-c::before {
  content: ">";
  font-size: 2.2rem;
  animation: blinking 1s normal infinite;
}

@keyframes blinking {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-input {
  font-size: 1.8rem;
  margin-left: 10px;
  width: 0;
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  flex-grow: 1;
}

.submit-button {
  background-color: #ffffffa1;
  border-radius: 100%;
  height: 3.3rem;
  width: 3.3rem;
  color: inherit;
  border: none;
}

.submit-button i {
  font-size: 1.6rem;
}

.submit-button:active {
  color: rgb(131, 131, 131);
}

.input-container.error {
  --main: rgb(255, 0, 76);
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

ul {
  padding: 0;
  margin-left: 1.3rem;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100lvh;
  margin-top: 0;
  padding-top: 1rem;
  position: fixed;
  inset: 0;
}

li {
  list-style: none;
  margin: 2rem 0;
  font-size: 1rem;
}

.type {
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: typing 2s forwards;
}

strong {
  text-decoration: underline;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

ul.fade {
  animation: fade 2s forwards;
}

@keyframes fade {
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
}

.hidden.fade-in {
  animation: fade-in 1.5s forwards;
}